html {
    background-color: whitesmoke;
}

* {
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header div {
    display: flex;
    align-items: flex-start;

}

h1 {
    font-size: 50px;
}

header nav ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

header nav ul li {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-size: 20px;
}

h2 h3 {
    font-size: 50px;
}

footer {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 17, 95, 0.986);
    color: whitesmoke;
    padding: 20px;
}

.imagen-portadada {
    width: 80%;
}

form {
    size: 40%;
}

table {
    width: 350px;
    height: 350px;
    border: blue;
}

p {
    margin: 2px;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    justify-content: space-between;
    margin: 10px;

}
.card-nosotros {
    padding: 20px;
}

.card-menu {
    padding: 20px;
}
.card-servicios {
    padding: 20px;
}
.card-contacto {
padding: 20px;
}

.grid-nosotros {
    color: whitesmoke;
    border: 4px solid black;
    background: darkslategray;
    text-align: center;
}

.grid-menu {
    color: whitesmoke;
    border: 4px solid black;
    background: darkslategray;
    text-align: center;
}

.grid-servicios {
    color: white;
    border: 4px solid black;
    background: darkslategray;
    text-align: center;
}

.grid-reservas {
    color: whitesmoke;
    border: 4px solid black;
    background: darkslategray;
    text-align: center;
}

.grid-layout-nosotros {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    font-size: large;
    color: whitesmoke;
    background: darkslategray;
    margin: 5px;
}
.div-nosotros {
    background-color: white;
    padding: 2%;
    margin: 4px;
    justify-content: space-around;
}
.div-nosotros2 {
    background-color: white;
    padding: 2%;
    margin: 4px;
    justify-content: space-around;
}
.image-burguer {
 padding: 8px;
 margin: 8px;
 align-items: center;
 justify-items: center;
}

.main-menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.section-contacto {
    border: 4px solid black;
}

.portada {
    justify-content: center;
}