* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
br,
cite,
code,
del,
dfn,
em,
hr,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
button,
caption,
input,
fieldset,
form,
label,
legend,
output,
table,
textarea,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
mark,
menu,
nav,
option,
output,
ruby,
section,
select,
summary,
time,
video {
  border: 0;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
samp,
s,
small,
span,
strike,
strong,
sub,
sup,
time,
tt,
var {
  display: inline;
}

blockquote,
caption,
dd,
dt,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
option,
output,
p,
pre,
select,
textarea {
  display: block;
}

[hidden] {
  display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
  background-image: none;
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  min-height: 100vh;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
q::before,
blockquote::after,
q::after {
  content: "";
  content: none;
}

input[type=date],
input[type=datetime-local],
input[type=file],
input[type=month],
input[type=time],
input[type=week],
select {
  flex-direction: row;
}

input:invalid {
  box-shadow: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  display: table;
}

tbody {
  display: table-row-group;
}

td,
th {
  display: table-cell;
}

thead {
  display: table-header-group;
}

tr {
  display: table-row;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
  color: yellow;
}

h2 {
  font-size: 50px;
  color: darkslategray;
}

h3 {
  font-size: 50px;
  color: darkslategray;
}

p {
  margin: 2px;
}

footer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  color: #fafafa;
  padding: 20px;
}

form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  size: 40%;
}

table {
  width: 350px;
  height: 350px;
  border: blue;
}

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header nav ul {
  color: #fafafa;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

header nav ul li {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  font-size: 20px;
}

.imagen-portada {
  margin: 0 auto;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card-nosotros {
  padding: 20px;
}

.card-menu {
  padding: 20px;
}

.card-servicios {
  padding: 20px;
}

.card-contacto {
  padding: 20px;
}

.grid-nosotros {
  color: #fafafa;
  background: darkslategray;
  text-align: center;
}

.grid-menu {
  color: #fafafa;
  background: darkslategray;
  text-align: center;
}

.grid-servicios {
  color: #fafafa;
  background: darkslategray;
  text-align: center;
}

.grid-reservas {
  color: #fafafa;
  background: darkslategray;
  text-align: center;
}

.grid-layout-nosotros {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  font-size: large;
  color: #fafafa;
  background: darkslategray;
  margin: 5px;
}

.div-nosotros {
  background-color: #fafafa;
  padding: 2%;
  margin: 4px;
  justify-content: space-around;
}

.div-nosotros2 {
  background-color: #fafafa;
  padding: 2%;
  margin: 4px;
  justify-content: space-around;
}

.image-burguer {
  padding: 8px;
  margin: 8px;
  align-items: center;
  justify-items: center;
}

.main-menu {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.portada {
  justify-content: center;
}

/*# sourceMappingURL=App.css.map */
